In [5]:
points_coordinate = [(0,0), (1,1), (0,1)]  # generate coordinate of points
points_coordinate

[(0, 0), (1, 1), (0, 1)]

In [30]:
from scipy import spatial
import numpy as np
import pandas as pd

In [37]:
df=pd.DataFrame(columns=["A", "B", "C"])

for i in range(5):
    df.loc[len(df.index)]=[2*i,i*i,i+6]

df.loc[len(df.index)]=df.mean()
df

     A     B     C
0  0.0   0.0   6.0
1  2.0   1.0   7.0
2  4.0   4.0   8.0
3  6.0   9.0   9.0
4  8.0  16.0  10.0
5  4.0   6.0   8.0

In [ ]:
df.to_csv("df.csv", index=False)